* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    background: #262e4c;
    color: #fff;
}

nav {
    float: right;
    padding: 30px 40px 0 0;
    top: 0;
}

.save {
    padding: 5px;
    width: 70px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #019f55;
 
}

.view {
    padding: 5px 7px;
    margin-left: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.save a {
    color: #FFF;
    text-decoration: none;
}

.view a {
    color: #019f55;
    text-decoration: none;
}

.save:hover {
    background: #000;
}

.view:hover {
    background: #000; 
}

.save a:hover {
    color: #019f55;
}

.view a:hover {
    color: #FFF;
}


.container {
    padding: 12% 10%;
    width: 90%;
    max-width: 700px;
}

.container h1 {
    font-size: 45px;
    font-weight: 500;
}

.display {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    border-radius: 5px;
}


.container h1 span {
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}

.display img {
    width: 30px;
    cursor: pointer;
}

.display input {
    border: 0;
    outline: 0;
    font: 24px;
}

.container button img {
    width: 30px;
    margin-right: 10px;
}

.container button {
    border: none;
    outline: none;
    background: #019f55;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}




@media (max-width: 600px) {
    
    nav {
        float: right;
        padding: 30px 20px 0 0;
        top: 0;
    }

    .view {
        margin-left: 10px;
    }

    .container {
        padding: 10% 10%;
        max-width: 700px;
        width: 90%;
    }

    .container h1 {
        font-size: 20px;
        width: 200px;
        margin-top: 200px;
    }

    .display {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 30px;
        padding: 10px 10px;
        width: 260px;
    }

    .container button {
        font-size: 11px;
        width: 180px;
        font-weight: 300;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 15px;
       
    }
}

@media (max-width: 1200px) {
    
    .container {
        padding: 20% 10%;
       
    }
}
